.custom-header-table th {
    color: #4E7AEC !important;
}

.v-data-table-header {
    height: 2em;
}

.v-toolbar__content {
    height: auto !important;
}

.v-toolbar--flat{
    height: auto !important;
}
