.gray-background {
    background-color: #E9E9E8;
    border: 1px solid #484848; /* Добавленный стиль для рамки */
}

.green-background {
    background-color: #8CED7C;
}

.yellow-background {
    background-color: #FFCD6D;
}

.red-background {
    background-color: #FC7DC9;
}