.phone-field {
    height: 32px;
    width: 100%;
    padding: 11px 14px;
    /*margin-bottom: 12px;*/
    margin-top: 24px;
    font-size: 1rem;
    line-height: 1.5;
    color: #383c42;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.53);
    border-radius: 12px;
}

.phone-field:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-header-table th {
    color: #4E7AEC !important;
}